#newToDo{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}

label{
    padding: 10px;
    margin: 10px;
}
h3{
    text-align: center;
    align-content: middle;
}
p{
    word-wrap: break-word;
}

.completeToDo {
    text-decoration: line-through;
}
.normalToDo {
    text-decoration: none;
}
.inEditMode {
    background-color: grey;
    
}